*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body{
    background: #f5f7fa;
}

.home, .open-ticket, .profile{ 
    display: flex;
    flex-wrap: wrap;
}

.body{
    display:flex;
}/**/

.profile-details{
    display:column;
}

.body, .profile-details{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 25px;
    flex: 80%;
}