
#tickets{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(146,146,146,0.2);
    width: auto;
}
.status{
    padding:5px;
    margin: 2px;
    text-align: center;
    border-radius: 20px;
}

#pending{
    background-color: #edf59aff;
    color: #a7b602ff;
}

#closed{
    background-color: #d5fcdbff;
    color: #0cc024ff;
}


#active{
    background-color: #d5f1fcff;
    color: #0c6fc0ff;
}
a{
    text-decoration : none;
    color: black;
}