.actionModal {
  display: none;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.action {
  padding: 50px;
  background-color: #fefefe;
  margin: 50px auto;
  border: 1px solid #888;
  width: 50%;
}
input[type=radio] {
  width: 10%;
  padding: 10px;
}
#buttons{
  
  padding: 10px;
  color: white;
  border: none;
  display: flex;
  justify-content: space-around;
}

#buttons .submit{
  background-color: #4caf50;
  padding: 10px;
  color: rgb(255, 255, 255);
}

#buttons button.submit:hover {
  background-color:#4caf50;
  color: rgb(250, 250, 250);
  padding: 10px;
  cursor: pointer;
}

#buttons .reset {
  background-color: rgb(189, 15, 15);
  padding: 10px;
  color: white;
  border: none;
}
#buttons {
  margin-top: 10px;
}
.close_modal {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  width: 10%;
  height: 10%;
}
.close_modal:hover {
  cursor: pointer;
  font-weight: bold;
  color: grey;
  background-color:#e4d8d8;
  padding: 5px;
  width: 10%;
  height: 10%;
}
h2 {
  padding-bottom: 10px;
}
#changeEmail, #changePassword {
  display: none;
  background-color: #f5f7fa;
  padding: 10px;
  border-radius: 5px;
}

#changeEmail label, input[type='email'], #changePassword label, input[type='password']{
  text-align: center;
  width: 50%;
}

input[type='email'], input[type='password']{
     padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
    background-color: #fff;
}

input[type="password"]{
  margin: 10px;
}

.Actionheader{
  padding-top: 20px;
}