.sidebar{
    background:rgba(226, 223, 223, 0.603);
   
    width: 200px;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    overflow: visible;
    flex: 20%;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

.name{
    color: #000;
    font-size:20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 95px;
}

.logo{
    width: 40px;
    height: 40px;
}

.nav-title{
    font-size: 12px;
    color: rgb(136, 136, 136);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-left: 5px;
}

.navigation{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
}

.navigation:hover{
    background-color: #000;
    color: #fff;
}

.navigation a.focus:active{
    background-color: #4d4d4d;
    color: #fff;
}

.icon{
   padding-right: 10px;
}
.footer{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.user{
    font-size: 15px;
    color: rgb(68, 68, 68);
    margin-bottom: 15px;
    padding-left: 5px;
}

.logout{
    padding: 20px;
    text-decoration-line: none;
    color: #ff4d4d;
    font-size: 20px;
    text-align:left;
}

button{
    border:none;
    background-color: inherit;
    
}